$white: #fff;
$light-gray: #f8f9fa;
$charcoal: #404040;
$slate: #231f20;
$black: #000;

$blue: #3e80ad;

$gray-0: #ffffff;
$gray-50: #fafafa;
$gray-100: #efefef;
$gray-200: #dcdcdc;
$gray-300: #bdbdbd;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-600: #656565;
$gray-700: #525252;
$gray-800: #464646;
$gray-900: #3d3d3d;
$gray-950: #292929;
$gray-1000: #000000;

$gold-50: #fcfaea;
$gold-100: #f9f5c8;
$gold-200: #f4e994;
$gold-300: #eed556;
$gold-400: #e7c22c;
$gold-500: #d7aa1b;
$gold-600: #b98415;
$gold-700: #946014;
$gold-800: #7b4c18;
$gold-900: #693f1a;
$gold-950: #3d210b;
