$white: #fff;
$light-gray: #f8f9fa;
$charcoal: #404040;
$slate: #231f20;
$black: #000;

$gold: #e7c22c;
$blue: #3e80ad;

$gray-0: #ffffff;
$gray-50: #fafafa;
$gray-100: #efefef;
$gray-200: #dcdcdc;
$gray-300: #bdbdbd;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-600: #656565;
$gray-700: #525252;
$gray-800: #464646;
$gray-900: #3d3d3d;
$gray-950: #292929;
$gray-1000: #000000;
