@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

$averia: 'Averia Serif Libre', cursive;
$work-sans: 'Work Sans', sans-serif;