.years-rel .acf-relationship .selection .choices, .years-rel .acf-relationship .selection .values {
  float: none;
  width: 100%;
}

.years-rel .acf-relationship .list {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  display: flex;
}

.years-rel .acf-relationship .list li {
  text-align: center;
  width: 4em;
  padding: .5rem;
}

.years-rel .acf-relationship .list li .acf-rel-item {
  border: 1px dotted #d5d5d5;
  padding: .5rem;
  display: inline-block;
}

.years-rel .acf-relationship .list li .acf-rel-item:hover {
  background-color: #008dd4;
}

.years-rel .acf-relationship .list li .acf-rel-item.disabled {
  opacity: .25;
}

.years-rel .acf-relationship .values {
  border-top: 1px solid #ccc;
  min-height: 6rem;
}

.years-rel .acf-relationship .values .acf-rel-item:hover .acf-icon {
  top: -10px;
  right: -10px;
}

.years-rel .acf-relationship .values .list li .acf-rel-item {
  color: #fff;
  background-color: #008dd4;
}

.div-rel .list, .teams-rel .list {
  height: 20rem;
}

.div-rel .list li .acf-rel-item, .teams-rel .list li .acf-rel-item {
  padding: .5rem;
}

.div-rel .list li .acf-rel-item:hover, .teams-rel .list li .acf-rel-item:hover {
  background-color: #008dd4;
}

.div-rel .list li .acf-rel-item.disabled, .teams-rel .list li .acf-rel-item.disabled {
  opacity: .25;
}

.div-rel .values .list li, .teams-rel .values .list li {
  margin-bottom: 1px;
}

.div-rel .values .list li .acf-rel-item, .teams-rel .values .list li .acf-rel-item {
  color: #fff;
  background-color: #008dd4;
}
