.site-header {
    padding: 2rem 0;
    background: $charcoal;
    color: $white;

    @include tablet-small {
        padding: 2.5rem 0;
    }

    a {
        color: $white;
    }

    @import 'logo';

    @import 'hamburger';

    @import 'navigation';
}

@import 'nav-overlay-open';