.site-header {
    padding: 2rem 0;
    background: $slate;
    color: $white;
    border-bottom: 1px solid $gray-700;

    z-index: 10;

    @include tablet-small {
        padding: 2.5rem 0;
    }

    a {
        color: $white;
    }

    @import "logo";

    @import "hamburger";
}

@import "navigation";

@import "nav-overlay-open";
