.logo {
    max-width: 128px;
    grid-column: 2 / span 2;

    @include tablet-small {
        grid-column: 2 / span 3;
        
    }

    @include desktop-medium {
        max-width: 164px;
    }

    a {
        display: block;
        position: absolute;
        top: -1.5rem;

        img {
            width: 100%;
        }
    }
}