.site-nav {
    @include desktop-small {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column: 4 / span 10;
    }

    .link.desktop {
        & + .link.desktop:not(.button) {
            @include desktop-small {
                margin-left: 1rem;
            }

            &:before {
                @include desktop-small {
                    content: "·";
                    margin-right: 1rem;
                }
            }
        }

        &.button {
            @include desktop-small {
                margin-left: 1rem;
            }
        }
    }

    .link.mobile-only {
        @include desktop-small {
            display: none;
        }
    }

    a {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.75rem;

        @include desktop-medium {
            font-size: 0.8125rem;
            letter-spacing: 0.075em;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 991px) {
        position: absolute;
        top: 0;
        z-index: 1000;
        left: -60vw;
        width: 60vw;
        height: 100vh;
        background: $slate;
        border-right: 1px solid $gold;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        padding: 3.25rem 2rem;
        grid-column: 1 / -1;

        .link {
            padding-bottom: 2rem;

            & + .link {
                margin-left: 0;
            }
            &:before {
                display: none;
            }

            a {
                font-size: clamp(1rem, 1vw, 1.125rem);
            }
        }
    }
}
