.resources {
    padding-top: 2rem;
    padding-bottom: 3rem;

    @include desktop-small {
        padding-bottom: 0;
    }
    .section-header {
        padding-bottom: 1rem;
    }
    .documents {
        list-style-type: disc;
        padding-left: 1.5rem;

        li {
            margin-bottom: 1rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}