.vetting-committee {
    margin-top: 3rem;

    .members {
        display: grid;
        gap: 2rem;
        
        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop-small {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .member {

        a {
            display: grid;
            grid-template-columns: 5rem 1fr;
            gap: 1rem;
            color: $charcoal;
        }

        .photo {
            @include aspect-ratio(1, 1);
            @include cover-fill-image;

            img {
                border-radius: 50%;    
            }
        }

        .info {
            align-self: center;
            font-family: $work-sans;

            .name {
                font-size: 1rem;

                h4 {
                    font-weight: bold;
                }

                .class {
                    padding-top: 0.125rem;
                    display: block;
                    font-family: $averia;
                    font-style: italic;
                    font-size: 0.75rem;
                    font-weight: normal;
                }
            }

            .title {
                padding-top: 0.5rem;
                
                h5 {
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                }
            }
        }
        
    }
}