section.donate {
    .info {
        background: $gold;
        color: $black;
        padding: 3rem;
        margin-top: 2rem;

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .section-header {
            padding-bottom: 1rem;

            h3 {
                font-family: $work-sans;
                font-weight: bold;
            }
        }

        .copy {
            p {
                font-family: $work-sans;

                &:last-of-type {
                    margin: 0;
                }
            }
        }

        form {
            padding-top: 2rem;

            input[type="image"] {
                max-width: 200px;
            }
        }

        .cta {
            padding-top: 2rem;

            .btn {
                background: $white;
                color: $blue;
            }
        }
    }
}
