.donate {
    .info {
        background: $gold-400;
        border: 1px solid $gold-400-dark;
        color: $black;
        padding: 3rem;
        margin-top: 2rem;

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .section-header {
            padding-bottom: 1rem;

            h3 {
                font-family: $work-sans;
                font-weight: bold;
            }
        }

        .copy {
            p {
                font-family: $work-sans;

                &:last-of-type {
                    margin: 0;
                }
            }
        }

        .cta {
            padding-top: 2rem;

            .btn {
                background: $white;
                color: $blue;
            }
        }
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        padding-top: 2rem;
        font-family: $work-sans;
    }

    &__option {
        h4 {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            font-size: 0.875rem;
            padding-bottom: 0.75rem;
        }

        &.paypal {
            form {
                input[type="image"] {
                    max-width: 200px;
                }
            }
        }
    }

    .venmo-options {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 164px));
        gap: 2rem;
    }

    .venmo-link {
        a {
            display: block;
        }

        img {
            max-width: 96px;
        }

        .username {
            margin-top: 0.5rem;
            color: $black;
            text-decoration: underline;
        }
    }
}
