.biography {
    @include desktop-small {
        grid-column: 2 / span 8;
        grid-row: 2;
    }

    p {
        padding-bottom: 2rem;
    }

    .player-card {
        margin: 0 auto 2rem;
        max-width: 16rem;

        @include desktop-small {
            float: left;
            margin: 0 2rem 2rem 0;
        }

        @include desktop-medium {
            max-width: 20rem;
        }
    }

    .contributions-and-service {
        padding-top: 2rem;

        .section-header {
            padding-bottom: 1rem;
        }

        ul {
            list-style-type: disc;
            padding-left: 1.25rem;

            li {
                line-height: 1.5em;

                & + li {
                    margin-top: 0.75rem;
                }
            }
        }

        .year {
            font-weight: bold;
        }
    }

    .induction-speech {
        padding-top: 2rem;

        .section-header {
            padding-bottom: 1rem;
        }
    }
}
