.gallery {
    padding-bottom: 4rem;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 1rem;
        align-items: start;
    }

    .photo {
        box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;

        &__thumbnail {
            aspect-ratio: 1 / 1;
            @include cover-fill-image;
        }
    }
}
