.board-of-directors {
    background: $light-gray;
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .section-header {
        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .copy {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .member {
        a {
            color: $charcoal;
        }

        .photo {
            @include aspect-ratio(1, 1);
            @include cover-fill-image;

            img {
                border-radius: 50%;
            }

            .empty {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #d5d5d5;
            }
        }

        .info {
            align-self: center;
            font-family: $work-sans;

            .name {
                h4 {
                    font-weight: 600;
                    font-size: 1.125rem;
                }

                .class {
                    padding-top: 0.5rem;
                    display: block;
                    font-family: $merriweather;
                    color: $gray-600;
                    font-style: italic;
                    font-size: 0.8125rem;
                    font-weight: normal;
                }
            }

            .title {
                padding-top: 0.5rem;

                h5 {
                    font-size: 0.75rem;
                    line-height: 1.25em;
                    font-weight: 500;
                }
            }
        }
    }
}
