.history-book {
    margin-top: 1rem;
    border: 2px solid $charcoal;
    padding: 2rem;
    background: $charcoal;
    color: $white;

    .copy {
        a {
            color: $gold;
        }
    }

}