section.legal-status {
    background: $light-gray;
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .section-header, .copy {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .section-header {
        padding-bottom: 1rem;
    }
}