.sidebar {
    align-self: start;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .module {
        padding: 2rem;

        & + .module {
            margin-top: 1rem;
        }
    }

    .mission {
        background: $gold;
        color: $white;

    }

    .vision {
        border: 2px solid $gold;
    }

    @include tablet {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    @include desktop-small {
        grid-column: 10 / span 4;
    }

    .section-header {
        padding-bottom: 1rem;

        h3 {
            font-weight: bold;
            font-family: $work-sans;

        }
    }
}