.mission {
    align-self: start;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .info {
        background: $gold;
        padding: 2rem;
    }

    @include tablet {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    @include desktop-small {
        grid-column: 10 / span 4;
    }

    .section-header {
        padding-bottom: 1rem;

        h3 {
            font-weight: bold;
            font-family: $work-sans;

        }
    }
}