section.partners {
    padding: 4rem 0 2rem 0;

    @include desktop-small {
        padding: 8rem 0 6rem 0;
    }

    .section-header, .copy {
        text-align: center;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .section-header {
        padding-bottom: 1rem;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .logo {
            width: 6rem;
            height: 6rem;
            margin: 2rem;

            @include desktop-small {
                width: 8rem;
                height: 8rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}