.copy {
    &.extended {
        & > * {
            margin-bottom: 2rem;
        }

        & > h3 {
            font-family: $work-sans;
            font-weight: bold;
            font-size: clamp(1.125rem, 1.2vw, 1.25rem);
            margin-bottom: 1rem;
            padding-top: 2rem;
        }

        & > h4 {
            font-family: $work-sans;
            font-weight: bold;
            font-size: clamp(1rem, 1vw, 1.125rem);
            margin-bottom: 0.5rem;
            padding-top: 1rem;
        }

        ul,
        ol {
            padding-bottom: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul,
    ol {
        padding-left: 2rem;
        padding-bottom: 2rem;

        li {
            & + li {
                margin-top: 1rem;
            }
        }
    }

    &.p1 {
        font-size: clamp(1.125rem, 1.2vw, 1.25rem);
        line-height: 1.5em;
    }

    &.p2 {
        line-height: 1.55em;
        font-size: clamp(1rem, 1.1vw, 1.125rem);
    }

    &.p3 {
        line-height: 1.55em;
        font-size: clamp(0.875rem, 1vw, 1rem);
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
