.page-header {
	padding-bottom: 3rem;

	&.align-center {
		text-align: center;
	}

	h1 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 300;
		font-size: clamp(2rem, 2vw, 2.5rem);

	}

	.sub-title {
		padding-top: 1rem;

		h2 {
			span {
				& + span {
					&:before {
						content: '·';
						display: inline-block;
						margin-right: 0.25rem;
					}
				}
			}
		}
	}
}

.section-header{
	padding-bottom: 2rem;

	@include desktop-small {
		padding-bottom: 3rem;
	}

	&.align-center {
		text-align: center;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 300;
		font-size: clamp(1.5rem, 1.8vw, 2rem);

		&.small {
			font-size: clamp(1.25rem, 1.25vw, 1.5rem);
		}
	}
}

.sub-title {
	h2 {
		font-size: clamp(0.875rem, 1vw, 1rem);
		font-family: $work-sans;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: bold;
		color: $gold;
	}
}


.page-title {
	font-weight: 300;
	font-size: clamp(2rem, 2vw, 2.5rem);
}
