.page-header {
    padding-bottom: 3rem;

    &.align-center {
        text-align: center;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-size: clamp(2rem, 2vw, 2.5rem);
    }

    .sub-title {
        padding-top: 1rem;
    }
}

.section-header {
    padding-bottom: 2rem;

    @include desktop-small {
        padding-bottom: 3rem;
    }

    &.align-center {
        text-align: center;
    }

    h3 {
        font-weight: 400;
        font-size: 2.25rem;
        font-family: $sorts-mill-goudy;
        &.small {
            font-size: clamp(1.25rem, 1.25vw, 1.5rem);
            font-family: $work-sans;
            font-weight: 600;
        }

        &.x-small {
            font-size: clamp(0.875rem, 0.9375vw, 1rem);
            font-weight: 600;
            font-family: $work-sans;
        }
    }
}

.sub-title {
    h2 {
        font-size: clamp(0.875rem, 1vw, 1rem);
        font-family: $work-sans;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        color: $gold;
    }
}

.page-title {
    font-weight: 300;
    font-size: clamp(2rem, 2vw, 2.5rem);
}
