.page-header {
	padding-bottom: 3rem;

	&.align-center {
		text-align: center;
	}

	h1 {
        font-size: clamp(2rem, 3vw, 5rem);
	}
}

.section-header{
	padding-bottom: 2rem;

	@include desktop-small {
		padding-bottom: 3rem;
	}

	&.align-center {
		text-align: center;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 300;
		font-size: clamp(1.5rem, 1.8vw, 2rem);

		&.small {
			font-size: clamp(1.25rem, 1.25vw, 1.5rem);
		}
	}
}

.sub-title {
	h2 {
		font-size: clamp(0.875rem, 1vw, 1rem);
		font-family: $work-sans;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: bold;
		color: $gold;
	}
}

.page-header {
	h1 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 300;
		font-size: clamp(1.5rem, 1.8vw, 2rem);
	}
}