body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
	font-family: $averia;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

a {
	color: $blue;
}

::-moz-selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

@import "headings";

@import "copy";