body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
}

a {
	color: orange;
}

::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

@import "headings";

@import "copy";