body {
	background: $white;
}

.site-content {
	padding: 3rem 0;
	min-height: 50vh;

	@include desktop-small {
		padding: 6rem 0;
		min-height: 70vh;
	}

	@include desktop-medium {
		padding: 8rem 0;
	}

	&.has-hero {
		padding-top: 0;
	}
}

@import "grid";

@import "sub-grid";

@import "member-grid";