body {
	background: $white;
}

.site-content {
	padding: 3rem 0;

	@include desktop-small {
		padding: 6rem 0;
	}

	@include desktop-medium {
		padding: 8rem 0;
	}
}

@import "grid";

@import "sub-grid";

@import "member-grid";