body.page-template-about {

    .site-content {
        padding-bottom: 0;
    }

    .page-header {
        @include desktop-small {
            padding-bottom: 8rem;
        }
    }

    section.info {
        @include desktop-small {
            grid-column: 2 / span 7;
            padding-bottom: 4rem;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    @import 'about/history-book';

    @import 'about/mission';

    @import 'about/board-of-directors';

    @import 'about/partners';

    @import 'about/legal-status';
}