body.post-type-archive-events {
    .site-content {
        padding-top: 0;
    }

    .events-list {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 2rem;
        }
    }

    .intro {
        padding-bottom: 4rem;
        .copy {
            text-align: center;

            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }
    }

    .event {
        border: 1px solid $gray-200;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 6px 0px;
        border-radius: 0.25rem;

        &__photo {
            aspect-ratio: 16 / 9;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
        }

        &__info {
            padding: 2rem;
        }

        &__title {
            font-family: $work-sans;
            font-weight: 400;
            font-size: 1.5rem;

            &-link {
                color: $black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__meta {
            padding-top: 0.5rem;
            display: grid;
            align-items: start;
            gap: 0.5rem;
        }

        &__location {
            font-size: 0.75rem;
        }

        &__date {
            font-size: 0.75rem;
            font-style: italic;
            color: $gray-600;
        }
    }
}
