body.post-type-archive-member {

    .class-nav {
        padding-bottom: 3rem;
        ul {
            margin: 0 auto;
            border-top: 1px solid #d5d5d5;
            border-left: 1px solid #d5d5d5;;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include tablet {
                grid-template-columns: repeat(5, 1fr);
            }

            @include desktop-small {
                grid-template-columns: repeat(8, 1fr);
            }    

            @include desktop-medium {
                grid-template-columns: repeat(10, 1fr);
            }           
        }

        li {
            border-bottom: 1px solid #d5d5d5;
            border-right: 1px solid #d5d5d5;
        }

        a {
            display: block;
            font-family: $work-sans;
            font-weight: bold;
            padding: 1rem 2rem;
            transition: all 0.2s ease-in;
            font-size: 0.8125rem;
            letter-spacing: 0.1em;

            &:hover {
                background: $blue;
                color: $white;
            }
        }
    }

    .class {
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0;
        }
        &:nth-child(even) {
            background: $light-gray;
        }



    }
    .back-to-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 10;

        a {
            display: block;
            background: $blue;
            color: $white;
            font-family: $work-sans;
            font-weight: bold;
            font-size: 0.75rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 1rem 2rem;
            border-radius: 32px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

            &:after {
                content: '↑';
                margin-left: 0.5rem;
            }
        }
    }
}