body.page-template-contact {

    .page-header {
        @include desktop-small {
            padding-bottom: 8rem;
        }
    }

    @import 'contact/contact-info';

    @import 'contact/donate';
}