body.page-template-contact {

    .site-content {
        padding-top: 0;
    }

    .page-header {
        @include desktop-small {
            padding-bottom: 8rem;
        }
    }

    section.contact-info {
        padding-bottom: 2rem;

        .copy {
            @include tablet {
                grid-column: 2 / span 4;
            }
            
            @include desktop-small {
                grid-column: 3 / span 5;
            }
        }

        .links {
            background: $light-gray;
            padding: 2rem;
            align-self: start;
            margin-top: 3rem;
            font-family: $work-sans;

            @include tablet {
                margin-top: 0;
                grid-column: 6 / span 4;
            }

            @include desktop-small {
                grid-column: 9 / span 4;
            }

            h4 {
                font-family: $work-sans;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 0.875rem;
                padding-bottom: 0.75rem;
            }

            .email {
                a {
                    font-size: 0.875rem;
                    display: inline-block;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .social {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                h4 {
                    width: 100%;
                }
    
                .link {
                    width: 1.5rem;
                    height: 1.25rem;
    
                    & + .link {
                        margin-left: 1.5rem;
                    }
    
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }


        }

        

    }
}