body.page-template-homepage {

    .members-list {
        ul {
            list-style: disc;
            padding-left: 1rem;

            li {
                padding: 0.5rem 0;
            }
        }
    }

}