body.blog {

    section.page-header {
        h1 {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }
    }

    article.post-teaser {

        & + article.post-teaser {
            &:before {
                content: '';
                display: block;
                height: 1px;
                background: #eee;
                margin: 2rem 0;
                grid-column: 1 / -1;

                @include desktop-small {
                    grid-column: 3 / span 8;
                    margin: 4rem 0;
                }

            }
        }

        .meta {
            padding-bottom: 1rem;

            @include tablet {
                grid-column: 2 / span 2;
            }

            @include desktop-small {
                grid-column: 3 / span 2;
            }

            .date {
                display: block;
                text-transform: uppercase;
                font-size: clamp(0.8125rem, 0.9vw, 0.875rem);
                letter-spacing: 0.05em;
                font-family: $work-sans;
                font-weight: bold;
                color: $gold;
            }
        }

        .info {

            @include tablet {
                grid-column: 4 / span 4;
            }
            
            @include desktop-small {
                grid-column: 5 / span 6;
            }

            .headline {
                h3 {
                    font-size: clamp(1.5rem, 1.5vw, 2rem);
                    line-height: 1.25em;

                    a {
                        color: $slate;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                }
            }

            .excerpt {
                padding-top: 1rem;
            }
        }
    }
}