body.blog {

    section.page-header {
        h1 {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }
    }

    article.post-teaser {

        & + article.post-teaser {
            &:before {
                content: '';
                display: block;
                height: 1px;
                background: #eee;
                margin: 2rem 0;
                grid-column: 1 / -1;

                @include desktop-small {
                    grid-column: 3 / span 8;
                    margin: 4rem 0;
                }

            }
        }

        .meta {
            padding-bottom: 1rem;

            @include tablet {
                grid-column: 2 / span 2;
            }

            @include desktop-small {
                grid-column: 3 / span 2;
            }

            .date {
                display: block;
                text-transform: uppercase;
                font-size: clamp(0.8125rem, 0.9vw, 0.875rem);
                letter-spacing: 0.05em;
                font-family: $work-sans;
                font-weight: bold;
                color: $blue;
            }
        }

        .info {

            @include tablet {
                grid-column: 4 / span 4;
            }
            
            @include desktop-small {
                grid-column: 5 / span 6;
            }

            .headline {
                h3 {
                    font-size: clamp(1.5rem, 1.5vw, 2rem);
                    line-height: 1.25em;

                    a {
                        color: $slate;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                }
            }

            .excerpt {
                padding-top: 1rem;
            }
        }
    }

    nav.pagination {
        padding-top: 3rem;
        border-top: 1px solid #eee;
        margin-top: 3rem;

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        h2 {
            font-family: $work-sans;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: clamp(0.75rem, 0.9vw, 0.875rem);
            padding-bottom: 0.5rem;
            display: none;
        }

        .nav-links {
            display: flex;
            align-items: center;
            font-family: $work-sans;

            & > * + * {
                display: block;
                margin-left: 0.5rem;
            }

            .page-numbers {
                padding: 0.5rem 0.75rem 0.375rem 0.75rem;
                border: 1px solid $blue;
                line-height: 1em;
                transition: all 0.2s ease;

                &:hover {
                    background: $blue;
                    color: $white;
                }
                
                &.current {
                    border-color: $slate;
                    background: $slate;
                    color: $white;
                }

                &.next,
                &.prev {
                    border: none;

                    &:hover {
                        background: transparent;
                        color: $blue;
                        text-decoration: underline;

                    }
                }
            }
        }

    }
}