body.page-template-selection-process {

    .page-header {
        @include desktop-small {
            padding-bottom: 8rem;
        }
    }

    section.info {
        @include desktop-small {
            grid-column: 2 / span 7;
        }

        .headline {
            padding-bottom: 1rem;
        }

        @import 'templates/selection-process/resources';
    }

    aside.sidebar {
        align-self: start;
        padding-bottom: 3rem;

        @include desktop-small {
            grid-column: 10 / span 4;
            padding-bottom: 0;
        }

        .section-header {
            padding-bottom: 1rem;

            h3.small {
                font-size: clamp(1.125rem, 1.25vw, 1.25rem);
                
            }
        }

        .nominate-cta {
            background: $light-gray;
            padding: 3rem;

            .cta {
                & + .cta {
                    margin-top: 1.5rem;
                }
            }

            .more-info {
                padding-top: 1rem;

                a {
                    font-family: $work-sans;
                    font-size: 0.75rem;
                    border-bottom: 1px dotted;
                }
            }
        }

        @import 'templates/selection-process/vetting-committee';
    }
}