body.page-template-selection-process {

    .page-header {
        @include desktop-small {
            padding-bottom: 8rem;
        }
    }

    section.info {
        @include desktop-small {
            grid-column: 2 / span 7;
        }

        .headline {
            padding-bottom: 1rem;
        }

        @import 'templates/selection-process/resources';
    }

    aside.sidebar {
        align-self: start;
        padding-bottom: 3rem;

        @include desktop-small {
            grid-column: 10 / span 4;
            padding-bottom: 0;
        }

        .section-header {
            padding-bottom: 1rem;
        }

        .nominate-cta {
            background: $light-gray;
            padding: 3rem;
        }

        @import 'templates/selection-process/vetting-committee';
    }
}