body.single-post {

    article.post {
        .article-header {
            padding-bottom: 2rem;
            @include desktop-small {
                grid-column: 2 / span 4;
            }

            .date {
                padding-bottom: 1rem;

                span {
                    display: block;
                    text-transform: uppercase;
                    font-size: clamp(0.75rem, 0.9vw, 0.875rem);
                    letter-spacing: 0.1em;
                    font-weight: bold;
                    color: $blue;
                    font-family: $work-sans;
                }
            }

            .title {
                font-weight: 300;
                font-size: clamp(1.5rem, 1.8vw, 2rem);
            }

            .byline {
                padding-top: 2rem;

                .author {
                    display: flex;
                    align-items: center;

                    & + .author {
                        margin-top: 1rem;
                    }

                    .photo {
                        max-width: 3rem;

                        img {
                            border-radius: 50%;
                        }
                    }

                    .info {
                        padding-left: 0.75rem;

                        a {
                            color: $slate;
                            font-style: italic;
                            font-size: clamp(1rem, 1.4vw, 1.25rem);

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .article-body {
            @include desktop-small {
                grid-column: 6 / span 8;
            }
        }
    }


}