body.single-post {

    article.post {
        .article-header {
            padding-bottom: 2rem;
            @include desktop-small {
                grid-column: 2 / span 4;
            }

            .date {
                padding-bottom: 1rem;

                span {
                    display: block;
                    text-transform: uppercase;
                    font-size: clamp(0.75rem, 0.9vw, 0.875rem);
                    letter-spacing: 0.1em;
                    font-weight: bold;
                    color: $blue;
                    font-family: $work-sans;
                }
            }

            .title {
                font-weight: 300;
                font-size: clamp(1.5rem, 1.8vw, 2rem);
            }
        }

        .article-body {
            @include desktop-small {
                grid-column: 6 / span 8;
            }
        }
    }


}