body.single-member {
    .site-content {
        padding-bottom: 0;
    }

    section.profile {
        grid-template-rows: auto 1fr;
        padding-bottom: 3rem;

        @include desktop-small {
            padding-bottom: 6rem;
        }
    }

    @import 'single-member/profile-header';

    @import 'single-member/vitals';

    @import 'single-member/biography';

    @import 'single-member/letters-of-recommendation';

    @import 'single-member/gallery';

    @import 'single-member/championship-tournaments';

    @import 'single-member/interview';

    @import 'single-member/teammates';
}
