body.single-tournaments {
    .site-content {
        padding-bottom: 0;
    }

    .other-tournaments {
        margin: 3rem 0;
        font-family: $work-sans;

        @include desktop-small {
            margin: 6rem 0;
        }

        .content {
            border: 1px solid #e5e5e5;
            padding: 2rem;

            @include desktop-small {
                padding: 2rem;
            }

            .section-sub-header {
                @include desktop-small {
                    padding-bottom: 1rem;
                }
                h3 {
                    font-weight: bold;
                }
            }

            .tournaments-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;


                .tournament {
                    width: 100%;
                    padding-top: 1rem;

                    @include desktop-small {
                        width: auto;
                        padding-top: 0;

                        & + .tournament {
                            &:before {
                                content: '·';
                                display: inline-block;
                                margin: 0 0.5rem;
                            }
                        }
                    }

                    a {
                        font-size: 0.875rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &.active {
                        a {
                            color: $charcoal;
                        }
                    }
                }
            }
        }
    }

    .years {
        background: $light-gray;
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0;
        }

        &-list {
            margin: 0 auto;
            border-top: 1px solid #d5d5d5;
            border-left: 1px solid #d5d5d5;;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
    
            @include tablet {
                grid-template-columns: repeat(5, 1fr);
            }
    
            @include desktop-small {
                grid-template-columns: repeat(8, 1fr);
            }    
    
            @include desktop-medium {
                grid-template-columns: repeat(10, 1fr);
            }           
        }
    
        .year {
            border-bottom: 1px solid #d5d5d5;
            border-right: 1px solid #d5d5d5;
        }
    
        a {
            display: block;
            font-family: $work-sans;
            font-weight: bold;
            padding: 1rem 2rem;
            transition: all 0.2s ease-in;
            font-size: 0.8125rem;
            letter-spacing: 0.1em;
    
            &:hover {
                background: $blue;
                color: $white;
            }
        }
    }



}