body.member-template-special-merit {
    @import 'special-merit/profile-header';

    @import 'special-merit/introduction';

    @import 'special-merit/entries-nav';

    @import 'special-merit/entries';
}
