.entries {
    padding: 3rem 0 6rem;

    &-default {
        &__gallery {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }

    &-media {
        &__gallery {
            display: grid;
            gap: 8rem;

            @include desktop-small {
                gap: 8rem;
            }
        }
    }

    .entry {
        &__default {
            .vitals {
                height: 100%;
            }
        }

        &__media {
            display: grid;
            gap: 2rem;

            @include desktop-small {
                grid-template-columns: 20rem 1fr;
                align-items: start;

                &:nth-child(even) {
                    grid-template-columns: 1fr 20rem;

                    .vitals {
                        order: 2;
                    }
                }

                &.no-photos {
                    grid-template-columns: 20rem;
                }
            }
        }
    }

    .info {
        @include desktop-small {
            padding-top: 1rem;
        }

        .section-header {
            padding-bottom: 1rem;
        }
    }

    .media {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

        @include desktop-small {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        }

        &__photo {
            aspect-ratio: 1 / 1;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            @include cover-fill-image;
        }
    }

    .vitals {
        grid-column: unset;
        grid-row: unset;
        padding-bottom: 2rem;
        margin-bottom: 0;
        width: 100%;
        background: $charcoal;
        color: $white;
        max-width: 20rem;
        margin: 0 auto;

        .header {
            padding-bottom: 0;
        }

        .photo {
            @include desktop-small {
                max-width: unset;
                aspect-ratio: 3 / 4;

                @include cover-fill-image;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .copy {
        font-family: $work-sans;
        font-size: 0.8125rem;
        line-height: 1.5em;
        padding: 0 1rem;
        text-align: center;
        font-style: italic;
    }
}
