.introduction {
    padding-bottom: 3rem;
    gap: 2rem;

    @include desktop-small {
        align-items: start;
        grid-template-rows: auto 1fr;
    }

    .profile-header {
        padding-bottom: 0;
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .photo {
        @include tablet {
            grid-column: 4 / span 4;
        }

        @include desktop-small {
            grid-row: 1 / span 2;
            grid-column: 10 / span 4;
        }

        img {
            max-width: 20rem;
            margin: 0 auto;

            @include desktop-small {
                max-width: 100%;
            }
        }
    }

    .copy {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 2;
            grid-column: 3 / span 6;
        }

        & > * + * {
            margin-top: 2rem;
        }
    }
}
