section.about {
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .section-header, .copy {
        text-align: center;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .section-header {
        padding-bottom: 1rem;
    }
}