section.hero {
    .gallery {
        grid-column: 1 / -1;
        grid-row: 1;
        z-index: 1;
    }
    .photo {
        aspect-ratio: 1 / 1;

        @include tablet-small {
            aspect-ratio: 4 / 3;
        }

        @include tablet {
            aspect-ratio: 16 / 9;
        }

        @include desktop-medium {
            aspect-ratio: 16 / 7;
        }

        @include cover-fill-image;

        img {
            object-position: top center;
            filter: brightness(40%);
        }
    }

    .info {
        grid-row: 1;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .headline {
        padding-bottom: 1rem;

        &:after {
            display: block;
            content: "";
            width: 6rem;
            height: 0.25rem;
            background: $white;
            margin-top: 1rem;
        }

        h1 {
            font-family: $sorts-mill-goudy;
            font-weight: 100;
            line-height: 1em;
            font-size: 2rem;
            font-style: italic;
            color: $white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

            @include tablet {
                font-size: 3rem;
            }

            @include desktop-small {
                font-size: 4rem;
            }
        }
    }

    .sub-headline {
        max-width: 12rem;

        @include tablet-small {
            max-width: 100%;
        }

        h2 {
            line-height: 1.5em;
            font-weight: 400;
            font-size: 1.25rem;
            color: $white;
            font-family: $sorts-mill-goudy;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            text-wrap: balance;

            @include tablet {
                font-size: 1.75rem;
            }

            @include desktop-small {
                font-size: 2rem;
            }
        }
    }
}
