section.latest-class {
    background: $light-gray;
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .copy {
        text-align: center;
        padding-bottom: 3rem;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .section-header {
        padding-bottom: 1rem;
    }

    .cta {
        padding-top: 3rem;
    }
}