section.selection {
    padding: 4rem 0;
    
    @include desktop-small {
        padding: 8rem 0;
        align-items: start;
    }

    .info {
        padding-top: 2rem;

        @include tablet {
            grid-column: 2 / span 5;
            grid-row: 1;
            padding-top: 0;
        }

        @include desktop-small {
            grid-column: 2 / span 6;
        }

        .section-header {
            padding-bottom: 1rem;
        }

        .cta {
            padding-top: 2rem;
        }
    }

    .photo {
        @include tablet {
            grid-column: 7 / span 3;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 8 / span 6;
        }
    }
}