.cta {
    &.align-center {
        text-align: center;
    }

    .btn {
        display: inline-block;
        background: $gold;
        padding: 1rem 2rem;
        color: $white;
        font-family: $work-sans;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        transition: all 0.2s ease;
        border-radius: 3px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

        &:hover {
            text-decoration: none !important;
            transform: translateY(-3px);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        }

        &__charcoal {
            background: $charcoal;
        }

        &__nav {
            padding: 0.5rem 1rem;
            color: $black;

            &:hover {
                text-decoration: none;

                transform: none;
            }
        }
    }
}
