.cta {
    &.align-center {
        text-align: center;
    }

    .btn {
        display: inline-block;
        background: $gold-400;
        border: 1px solid $gold-400-dark;
        padding: 1rem 2rem;
        color: $white;
        font-family: $work-sans;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        transition: all 300ms ease;
        border-radius: 4px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

        &:hover {
            text-decoration: none !important;
            transform: translateY(-3px);
        }

        &__charcoal {
            background: $charcoal;
            border: 1px solid $charcoal-dark;
        }

        &__nav {
            padding: 0.5rem 1rem;
            color: $black;
            font-family: $work-sans;
            border: 1px solid $gold-400-dark;

            &:hover {
                text-decoration: none;

                transform: none;
            }
        }
    }
}
