.cta {
    .btn {
        display: inline-block;
        background: $gold;
        padding: 1rem 2rem;
        color: $white;
        font-family: $work-sans;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
    }
}